* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #101828;
    color: white;
}

.container {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 12px;
}


h1 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 6px;
}


.subtitle {
    font-size: 16px;
    color: #c8c8c8;
    margin-bottom: 15px;
}


/* Compact video card */
.video-box {
    width: 100%;
    height: 35vh;
    max-height: 300px;
    background: black;
    position: relative;
    overflow: hidden;
    border-radius: 18px;
    margin-bottom: 18px;
}


video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: black;
}


/* Play button */
#playOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#playBtn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: white;
    font-size: 32px;
    cursor: pointer;
}


/* Spin button */
#continueBtn {

    width: 95%;
    padding: 16px;
    border: none;
    border-radius: 35px;
    background: #00c878;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 18px;
    cursor: pointer;

}


/* Comments */
.comments-box {

    height: 130px;
    overflow: hidden;
    background: rgba(0,0,0,0.35);
    border-radius: 15px;
    position: relative;

}


.comments {

    position: absolute;
    width: 100%;
    animation: moveComments 20s linear infinite;

}


.comments p {

    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.1);

}


@keyframes moveComments {

    from {
        transform: translateY(130px);
    }

    to {
        transform: translateY(-500px);
    }

}
