*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:Arial,sans-serif;
    background:#000;
}

#promoVideo{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    object-fit:cover;
}

.overlay{
    position:fixed;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:center;
    padding:20px;
    background:linear-gradient(to top,rgba(0,0,0,.7),rgba(0,0,0,.2),transparent);
}

.logo{
    position:absolute;
    top:25px;
    font-size:30px;
    font-weight:bold;
    color:#fff;
}

h1{
    color:#fff;
    text-align:center;
    font-size:32px;
    margin-bottom:15px;
}

.subtitle{
    color:#fff;
    text-align:center;
    font-size:18px;
    margin-bottom:25px;
}

.start-btn{
    width:90%;
    max-width:400px;
    padding:18px;
    border:none;
    border-radius:50px;
    background:#16a34a;
    color:#fff;
    font-size:24px;
    font-weight:bold;
    cursor:pointer;
    margin-bottom:20px;
}
#playOverlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:9999;
}

#playBtn{
    width:100px;
    height:100px;
    border:none;
    border-radius:50%;
    background:#ffffff;
    color:#16a34a;
    font-size:48px;
    font-weight:bold;
    cursor:pointer;
}

#playOverlay p{
    margin-top:20px;
    color:#ffffff;
    font-size:22px;
    font-weight:bold;
    text-align:center;
    }
